bitnami-kafka-env:
  &kafka-env
  KAFKA_CLUSTER_ID: "kafka-cluster-1"
  # KRaft Configuration
  KAFKA_CFG_NODE_ID: 1
  KAFKA_CFG_PROCESS_ROLES: broker,controller
  KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093
  KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
  KAFKA_CFG_SASL_MECHANISM_CONTROLLER_PROTOCOL: OAUTHBEARER

  # Listener Configuration
  KAFKA_CFG_LISTENERS: SASL_SSL://:9092,CONTROLLER://:9093
  KAFKA_CFG_ADVERTISED_LISTENERS: SASL_SSL://kafka1:9092
  KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: SASL_SSL:SASL_SSL,CONTROLLER:SASL_SSL

  # Security Configuration
  KAFKA_CFG_SASL_MECHANISMS: OAUTHBEARER
  KAFKA_CFG_SASL_ENABLED_MECHANISMS: OAUTHBEARER
  KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL: OAUTHBEARER
  KAFKA_CFG_SECURITY_INTER_BROKER_PROTOCOL: SASL_SSL

  # SASL Configuration
  KAFKA_CFG_SASL_LOGIN_CALLBACK_HANDLER_CLASS: org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
  KAFKA_CFG_SASL_SERVER_CALLBACK_HANDLER_CLASS: org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerValidatorCallbackHandler
  KAFKA_CFG_SASL_JAAS_CONFIG: |
    org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
        unsecuredLoginStringClaim_sub="admin" \
        oauth.client.id="kafka-broker-client" \
        oauth.client.secret="kafka-broker-secret" \
        oauth.token.endpoint.uri="http://keycloak:8081/realms/kafka-realm/protocol/openid-connect/token\"; \
        oauth.scope="openid";

  # SSL Configuration
  KAFKA_SSL_CLIENT_AUTH: 'required'
  KAFKA_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM: 'https'
  KAFKA_SSL_KEYSTORE_TYPE: PKCS12
  KAFKA_SSL_KEYSTORE_LOCATION: /bitnami/kafka/config/certs/kafka.keystore.p12
  KAFKA_SSL_KEYSTORE_PASSWORD: ${CERT_SECRET}
  KAFKA_SSL_KEY_PASSWORD: ${CERT_SECRET}
  KAFKA_SSL_TRUSTSTORE_TYPE: PKCS12
  KAFKA_SSL_TRUSTSTORE_LOCATION: /bitnami/kafka/config/certs/kafka.truststore.p12
  KAFKA_SSL_TRUSTSTORE_PASSWORD: ${CERT_SECRET}
  KAFKA_SSL_PRINCIPAL_MAPPING_RULES: RULE:^CN=([a-zA-Z0-9]*).*$$/$$1/L,DEFAULT

  KAFKA_HEAP_OPTS: "-Xms${BROKER_HEAP} -Xmx${BROKER_HEAP}"
  KAFKA_OPTS: |
    -Djava.security.auth.login.config=/bitnami/kafka/config/kafka_server_jaas.conf
    -Dorg.apache.kafka.sasl.oauthbearer.allowed.urls=${KAFKA_IDP_JWKS_ENDPOINT},${KAFKA_IDP_TOKEN_ENDPOINT},${IDP_AUTH_ENDPOINT},${IDP_DEVICE_AUTH_ENDPOINT}
  
