cp-kafka-env:
  &kafka-env
  CLUSTER_ID: "kafka-cluster-1"
  # KRaft Configuration
  KAFKA_NODE_ID: 1
  KAFKA_PROCESS_ROLES: broker,controller
  KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093
  KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
  KAFKA_SASL_MECHANISM_CONTROLLER_PROTOCOL: OAUTHBEARER

  # Listener Configuration
  KAFKA_LISTENERS: SASL_SSL://:9092,CONTROLLER://:9093
  KAFKA_ADVERTISED_LISTENERS: SASL_SSL://kafka1:9092
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: SASL_SSL:SASL_SSL,CONTROLLER:SASL_SSL

  # Security Configuration
  KAFKA_SASL_MECHANISMS: OAUTHBEARER
  KAFKA_SASL_ENABLED_MECHANISMS: OAUTHBEARER
  KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: OAUTHBEARER
  KAFKA_SECURITY_INTER_BROKER_PROTOCOL: SASL_SSL

  # # SASL Configuration
  KAFKA_PRINCIPAL_BUILDER_CLASS: io.confluent.kafka.security.authenticator.OAuthKafkaPrincipalBuilder
  KAFKA_SUPER_USERS: User:admin;User:${KAFKA_SUPERUSER_CLIENT_ID};User:${KAFKA_SSO_CLIENT_ID}
  KAFKA_BROKER_USERS: User:${KAFKA_SUPERUSER_CLIENT_ID}

  KAFKA_SASL_OAUTHBEARER_TOKEN_ENDPOINT_URL: ${KAFKA_IDP_TOKEN_ENDPOINT}
  KAFKA_SASL_OAUTHBEARER_JWKS_ENDPOINT_URL: ${KAFKA_IDP_JWKS_ENDPOINT}
  KAFKA_SASL_OAUTHBEARER_EXPECTED_AUDIENCE: ${KAFKA_EXPECTED_AUDIENCE}
  KAFKA_SASL_OAUTHBEARER_EXPECTED_ISSUER: ${KAFKA_IDP_EXPECTED_ISSUER}
  KAFKA_SASL_OAUTHBEARER_SUB_CLAIM_NAME: ${KAFKA_SUB_CLAIM_NAME}
  KAFKA_SASL_OAUTHBEARER_SCOPE_CLAIM_NAME: ${KAFKA_SCOPE_CLAIM_NAME}

  KAFKA_SASL_LOGIN_CALLBACK_HANDLER_CLASS: org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
  KAFKA_SASL_SERVER_CALLBACK_HANDLER_CLASS: org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerValidatorCallbackHandler
  KAFKA_SASL_JAAS_CONFIG: |
    org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
        unsecuredLoginStringClaim_sub="admin" \
        oauth.client.id="kafka-broker-client" \
        oauth.client.secret="kafka-broker-secret" \
        oauth.token.endpoint.uri="http://keycloak:8081/realms/kafka-realm/protocol/openid-connect/token\"; \
        oauth.scope="openid";

  # SSL Configuration
  KAFKA_SSL_ENABLED_PROTOCOLS: TLSv1.2
  KAFKA_SSL_CLIENT_AUTH: 'required'
  KAFKA_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM: 'https'
  KAFKA_SSL_KEYSTORE_TYPE: PKCS12
  KAFKA_SSL_KEYSTORE_LOCATION: /bitnami/kafka/config/certs/kafka.keystore.p12
  KAFKA_SSL_KEYSTORE_FILENAME: keystore.p12
  KAFKA_SSL_KEYSTORE_CREDENTIALS: creds.txt
  KAFKA_SSL_KEYSTORE_PASSWORD: ${CERT_SECRET}
  KAFKA_SSL_KEY_PASSWORD: ${CERT_SECRET}
  KAFKA_SSL_TRUSTSTORE_TYPE: PKCS12
  KAFKA_SSL_TRUSTSTORE_LOCATION: /bitnami/kafka/config/certs/kafka.truststore.p12
  KAFKA_SSL_TRUSTSTORE_FILENAME: truststore.p12
  KAFKA_SSL_TRUSTSTORE_CREDENTIALS: creds.txt
  KAFKA_SSL_TRUSTSTORE_PASSWORD: ${CERT_SECRET}
  KAFKA_SSL_CIPHER_SUITES: ${SSL_CIPHER_SUITES}
  KAFKA_SSL_PRINCIPAL_MAPPING_RULES: RULE:^CN=([a-zA-Z0-9]*).*$$/$$1/L,DEFAULT

  # Logging
  KAFKA_LOG_RETENTION_HOURS: '1'
  KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 300000
  KAFKA_LOG_SEGMENT_BYTES: 1073741824
  KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
  KAFKA_LOG4J_ROOT_LOGLEVEL: INFO # DEBUG

  # Metrics reporter
  KAFKA_JMX_PORT: 9101
  KAFKA_JMX_HOSTNAME: localhost
  KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=kafka1 -Dcom.sun.management.jmxremote.rmi.port=9101

  # Others
  KAFKA_AUTO_CREATE_TOPICS_ENABLED: 'true'
  KAFKA_DELETE_TOPIC_ENABLED: 'true'
  KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  KAFKA_GROUP_MAX_SESSION_TIMEOUT_MS: 300000    # 5 mins
  KAFKA_DEFAULT_REPLICATION_FACTOR: 1           # 1 brokers
  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1        # Đảm bảo có quorum (n - 1) brokers sẵn sàng
  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  KAFKA_MIN_INSYNC_REPLICAS: 2                  # Nên >= 2 khi replication = 3 (tối thiểu 2 replicas sống)
  KAFKA_REPLICA_LAG_TIME_MAX_MS: 30000          # 30s là hợp lý cho phát hiện lag

  KAFKA_NUM_IO_THREADS: 4                       # Tùy thuộc CPU (thường = số vCPU)
  KAFKA_NUM_NETWORK_THREADS: 1                  # Một cho mỗi broker là đủ (hoặc = số NIC)
  KAFKA_NUM_RECOVERY_THREADS_PER_DATA_DIR: 2    # Nếu bạn dùng 1 ổ đĩa: để = 2 giúp phục hồi nhanh hơn

  KAFKA_OFFSETS_COMMIT_TIMEOUT_MS: 10000        # 10s
  KAFKA_OFFSETS_RETENTION_MINUTES: 10080        # 7 days
  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  KAFKA_OFFSETS_TOPIC_COMPRESSION_CODEC: 1      # gzip

  KAFKA_HEAP_OPTS: "-Xms${BROKER_HEAP} -Xmx${BROKER_HEAP}"
  KAFKA_OPTS: |
    -Djava.security.auth.login.config=/bitnami/kafka/config/kafka_server_jaas.conf
    -Dorg.apache.kafka.sasl.oauthbearer.allowed.urls=${KAFKA_IDP_JWKS_ENDPOINT},${KAFKA_IDP_TOKEN_ENDPOINT},${IDP_AUTH_ENDPOINT},${IDP_DEVICE_AUTH_ENDPOINT}
  
